.year-creation {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.year-creation .container {
  width: 900px;
  background: #FFFDD0;
  border-radius: 8px;
}

.year-creation form {
  max-width: 800px;
}

.year-creation button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.year-creation .months-grid {
  display: flex;
  background: #6f4e37;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 8px;
}

.year-creation .month {
  height: 200px;
  width: 200px;
  margin: 10px;
  background: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.month-budget {
  display: flex;
}

.month-budget input {
  width: 80px;
}

.budget-control {
  display: flex;
  align-items: center;
}

.year-creation .remaining {
  margin-left: 10px;
}